.sommaire, .middle-s, .six-box {
    padding-bottom: 100px !important;
}

.six-box .container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    gap: 60px;
}

.six-box {
    background-color: white;
}


.box-2 h3{
    font-size: min(20vw, 30px);
    font-weight: 600;
    padding-bottom: 20px !important;
}

.line-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.line-box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
}

.middle {
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    background: radial-gradient(circle, rgb(223, 233, 255) 13%, rgba(255, 255, 255, 1) 85%, rgb(223, 233, 255) 100%);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0 0 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0.1), inset -7px -7px 20px rgba(255, 255, 255, 0.1), 0 0 4px rgba(255, 255, 255, 0.1) !important;}

.middle p {
    padding-bottom: 20px;
}

.middle-s {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);     padding-top: 120px;
}

.middle-s .container {
    gap: 20px;
}

.citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    background:#070708;
    border-radius: 30px;
    gap: 20px;
}

.citation p {
    color: #FFF;
    font-size: min(3vw, 25px);
    font-weight: 700;
    padding: 0 40px;
}

.citation p span {
    font-weight: 600;
    font-size: min(3vw, 20px);
    color: #a5a5a5;
}

.line-box-text h2 {
    font-size: min(20vw, 40px);
    font-weight: 700;
    margin: 0 !important;
    padding: 0 0 20px 0 !important;
}

.line-box-text h3 {
    font-size: min(20vw, 30px);
    font-weight: 500;
    margin: 0 !important;
    padding-bottom: 30px;
}

.line-box-text p {
    font-size: min(20vw, 20px);
    font-weight: 400;
    margin: 0 !important;
}

.line-box-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.line-box-image img {
}


/*TODO !------------------MEDIA QUERIES------------------!*/

@media (max-width: 768px) {
}

@media (max-width: 1200px) {
    .line-box {
        flex-direction: column;
    }
    .line-box-image {
        width: 100%;
    }
    .line-box-text {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

}
