.titre-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.titre-section .container {
    justify-content: center;
    align-items: center;
}

.card-section {
    padding: 0 0 120px 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
}

.card-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(223, 233, 255) 13%, rgba(255, 255, 255, 1) 85%, rgb(223, 233, 255) 100%);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0 0 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0.1),
    inset -7px -7px 20px rgba(255, 255, 255, 0.1),
    0 0 4px rgba(255, 255, 255, 0.1) !important;
    transition: box-shadow .25s ease !important;
    backdrop-filter: blur(100px);
}

h1{
    text-align: center;
}

h2 {
    padding: 20px 0 0 0;
}

h3 {
}

.card-image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;

}

