/*TODO !------------------TITRE SECTION------------------!*/


.titre {
    padding: 35px 0 0 0;
}

.titre-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 150px;
}

.titre-section .container {
    justify-content: center;
    align-items: center;
}

.card-section {
    padding: 0 0 120px 0;
    background-color: white;
}

.card-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
}

h1{
    text-align: center;
}

h2 {
    padding: 20px 0 0 0;
}


